// Place all the styles related to the This_is_for_beginner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.must{
  color:red;
}
#detail_smale_img{
  max-width: 100px;
   height: auto;
   border: 1px solid #888 ;
   margin: 5px;
}
